<!DOCTYPE html>
<html>
    <head>
        <title>Blogz!</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
	    <div style='float: right'>
          {% if session['user'] %}
            {{ session['user'] }}
            <form action="/logout" method="post">
              <input type="submit" value="Log Out" />
            </form>
          {% else %}
            <a href="login">login</a> | <a href="register">register</a>
          {% endif %}
        </div>
        <h2>
            <a href="/blog">Blog</a>
        </h2>
        <h2>
            <a href="/new_post">New Post</a>
        </h2><br>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </body>
</html>
