<!DOCTYPE html>
<html>
    <head>
        <title>Build A Blog</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <h2>
            <a href="/blog">Blog</a>
        </h2>
        <h2>
            <a href="/new_post">New Post</a>
        </h2><br>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </body>
</html>
